.profile-info {
    border-top: 1px solid rgb(0, 0, 0);
    padding-top:15px;
}


.image-body img {
    border: 5px solid rgb(241, 241, 241);
    box-shadow: rgb(153, 153, 153) 0px 0px 2px 1px;
    border-radius: 50%;
}

.user-names h4 {
    font-size: 40px;
}

.details {
    display: inline block;
}