.postContainer {
  padding: 5px;
  min-height: 500px;
  width: 400px;
  margin: 3px;
}
 .topic, .rating, .timeStamp, .replies {
  display: inline-block;
}

.topic, .replies {
  float: right;
}

.rating, .timeStamp {
  float: left;
}

.title {
  text-align: center;
}

.heading {
  position: relative;
  text-align: center;
}

.postText {
  margin: 10px;
}

.feed-post {
  border: 1px solid grey;
  margin: 5px;
  
}

