.postContainer {
  padding: 5px;
  height: 150px;
  width: 400px;
  background-color: red;
  border: 1px solid blue;
  border-radius: 10px;
}

.poster, .topic, .rating, .timeStamp, .replies {
  display: inline-block;
}

.topic, .replies {
  float: right;
}

.rating, .poster {
  float: left;
}

.title {
  text-align: center;
}

.heading {
  position: relative;
  text-align: center;
}


